.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo-link img {
  object-fit: contain;
  /* width: 73px; */
  height: 64px;
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
}
.header-content form {
  width: 400px;
  position: relative;
}

.inputsearch-slider {
  display: flex;
  margin: 0 20px;
  padding: 8px;
  border-radius: 4px;
  min-width: 400px;
}
.publish-login-btn-container {
  display: flex;
  align-items: center;
}
.publish-login-btn-container button {
  width: 115px;
  height: 30px;
  /* border-radius: 5px; */
  background-color: white;
  border: solid #2db1ba 1px;
  color: #56bfc7;
  margin-left: 20px;
  font-size: 12px;
  flex-shrink: 0;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-mobile {
  display: none;
}
.menu-toggle {
  background: initial;
  color: #c8c8c8;
  border: none !important;
  padding: 3px 10px;
  cursor: pointer;
}
.cart-hdr-link {
  color: #9d9898;
  padding: 6px;
  border-radius: 7px;
  cursor: pointer;
}
.cart-hdr-link:hover {
  color: rgb(19, 147, 55);
  background: white;
}
.faUser {
  font-size: large;
}
@media (max-width: 926px) {
  .inputsearch-slider {
    width: 80%;
  }
  .publish-login-btn-container.open {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    background: #fefefedd;
    gap: 30px;
  }
  .publish-login-btn-container {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .cart-hdr-link {
    display: block;
    position: absolute;
    right: 75px;
  }
  .nav-container {
    display: flex;
    /* max-width: 70px; */
    /* margin-left: 9px; */
  }

  .menu-mobile {
    display: block;
    border-radius: 7px;
  }
}

@media (max-width: 926px) {
  .publish-login-btn-container {
    display: none;
  }
}
@media (max-width: 800px) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .publish-login-btn-container {
    right: 2.2rem;
    width: unset;
  }
  .inputsearch-slider {
    display: none;
  }
}
