.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 250px;
}

.card-header {
  padding: 0 0 0 5px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 45px;
  color: #a3b3c3;
}

.card-username {
  color: #999;
  font-size: 12px;
}

.card-details-link {
  text-decoration: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 15px;
  padding: 10px;
}
.card-details-link:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.image-offer {
  border-radius: 15px;
  border: 1px solid #dbdada;
  border-bottom: none;
  padding: 6px;
  height: 250px;
  max-width: 250px;
  object-fit: contain;
  object-position: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.card-footer {
  padding: 5px 0 0 0;
  color: #999;
  font-size: 13px;
}

.card-price {
  color: black;
  font-size: 20px;
}
@media (max-width: 600px) {
  .image-offer {
    height: 200px;
    width: 150px;
    object-fit: contain;
  }
}
