.publish-field-wrapper {
  width: 100%;
  border-bottom: 1px solid #dadbdb;
}

.publish-no-border {
  border-bottom: none;
}

.publish-field-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publish-field {
  width: 50%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #dadbdb;
  outline: none;
  resize: none;
}

.publish-field::placeholder {
  font-size: 14px;
  color: #dadbdb;
}

.publish-form-description {
  height: 222px;
}

.publish-form-details {
  height: 366px;
}

.scribens-layout {
  display: none !important;
}
