.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar {
  width: 600px;
  width: 100%;
  border: none;
  border-radius: 7px;
  height: 30px;
  background-color: #f5f6f7;
  padding-left: 1.8rem;
  box-shadow: #919696;
}

input[type="text"] {
  outline: none;
  border: 1px solid rgb(188, 188, 188);
}
input:focus {
  border-color: #56bfc7;
}
.searchBar::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  color: #919696;
}

.fa-solid {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 15px;
  color: #a9adae;
}
