.header-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border: none;
  border-radius: 5px;
  width: 600px;
  height: 40px;

  margin-left: 10px;
  background-color: #f5f6f7;
  padding-left: 1.8rem;
}
input[type="text"] {
  outline: none;
}

.searchBar::placeholder {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #e2e4e5;
}

.fa-solid {
  position: absolute;
  left: 20px;
  font-size: 15px;
  color: #a9adae;
}
