.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form h1 {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.login-form input {
  border: none;
  border-bottom: 1px solid #fcced3;
  margin-bottom: 10px;
  padding: 8px 2px;
}

.login-form input::placeholder {
  font-size: 17px;
  font-weight: lighter;
  color: #dcdcdd;
  background-color: white;
}

input[type="email"],
[type="password"] {
  outline: none;
}

.submit-button {
  height: 45px;
  width: 275px;
  border: none;
  color: white;
  background-color: #2cb1ba;
  cursor: pointer;
  font-size: 16px;
}

.login-form p {
  font-size: 13px;
  color: #2cb1ba;
  text-align: center;
  margin-top: 20px;
}
