.order-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1380px;
  margin: 0 auto;
  width: calc(100% - 50px);
}
.offer-wrapper {
  padding: 30px 0 0 0;
  min-height: calc(100vh - 80px);
  background: white;
  display: flex;
}

.offer-image {
  height: auto;
  max-width: 400px;
  aspect-ratio: 1;
  border-radius: 7px;
  object-fit: contain;
  box-shadow: 0 2px 6px (#ebedee);
}
.cart-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 7px;
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 20px;
}
.order-summary {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}
.products-ordered {
  max-width: 300px;
}
.cart-article-details > span {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}
.cart-article-details > span:hover {
  /* background-color: #f2f2f2; */
  transform: scale(1.02);
}
.remove-product-btn-wrapper {
  padding: 5px 0;
  height: auto;
  max-width: 32px;
}
.remove-product-btn-offer-page {
  color: white;
  background: #ffffff9d;
  border: none;
  height: 40px;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}
.cart-article-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.order-summary h2 {
  text-decoration: underline;
}
.divider {
  width: 100%;
  height: 1px;
  background: #ebedee;
}

.offer-details-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  background-color: white;
  width: 300px;
  height: auto;
  flex: 0 0 455px;
  box-sizing: border-box;
}

.offer-price {
  font-weight: 300;
  font-size: 28px;
}

.offer-details-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
}

.offer-details {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.offer-details .key {
  color: #cecece;
}

.detail-key {
  color: #666666;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 14px;
}

.offer-infos-title {
  font-size: 20px;
  font-weight: 700;
}

.offer-infos-description {
  font-size: 14px;
  color: #666666;
}

.offer-infos-username {
  font-size: 14px;
}
.cart-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buy-button,
.continue-shopping-btn,
.pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-width: 300px;
  width: 100%;
  background-color: #09b1ba;
  border: none;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.offer-pay-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-width: 300px;
  width: 100%;
  background-color: #09b1ba;
  border: none;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
/* .pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-width: 300px;
  width: 100%;
  background-color: #09b1ba;
  border: none;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
} */
.offer-pay-link:hover {
  color: #56bfc7;
  background: #ebedee;
}
.buy-button span {
  color: white;
}
@media (max-width: 1140px) {
  .order-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 926px) {
  .order-wrapper {
    align-items: center;
  }
  .offer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .offer-image {
    height: auto;
    width: 80%;
  }
  .offer-details {
    width: 100%;
  }
  .divider-offerCard-cart {
    width: 100%;
    height: 1px;
    background: #ebedee;
    /* padding-bottom: 20px; */
  }
  .cart-order {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 756px) {
  /* .order-summary {
    display: flex;
    align-self: flex-start;
  } */
  .cart-order {
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .order-wrapper {
    flex-direction: column;
  }
  .products-ordered {
    width: 100%;
  }
}
