.offer-wrapper {
  padding: 30px 0 0 0;
  min-height: calc(100vh - 80px);
  background-color: #ebedee;
  background: white;
  display: flex;
  justify-content: space-evenly;
}

.offer-image {
  height: 400px;
  width: 400px;
  /* height: 50vh; */
}

.divider {
  width: 100%;
  height: 1px;
  background: #ebedee;
}

.offer-details-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background-color: white;
  width: 300px;
  height: 600px;
  flex: 0 0 455px;
  box-sizing: border-box;
}

.offer-price {
  font-weight: 300;
  font-size: 28px;
}

.offer-details-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
}

.offer-details {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.offer-details .key {
  color: #cecece;
}

.detail-key {
  color: #666666;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 14px;
}

.offer-infos-title {
  font-size: 20px;
  font-weight: 700;
}

.offer-infos-description {
  font-size: 14px;
  color: #666666;
}

.offer-infos-username {
  font-size: 14px;
}

.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #09b1ba;
  border: none;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.buy-button span {
  color: white;
}
@media (max-width: 1000px) {
  .offer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .offer-image {
    height: 300px;
    width: 300px;
  }
  .offer-details {
    width: 100%;
  }
}
