.payment-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  background-color: #ebedee;
}

.payment-content {
  margin: 40px 0 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 600px;
  background: white;
}

.payment-title {
  margin: 0 0 24px 0;
  color: #999;
}

.payment-details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.payment-details-wrapper div {
  display: flex;
  justify-content: space-between;
  color: #666;
}

.divider {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background: #ebedee;
}

.payment-total-price-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.payment-bold {
  margin: 0 0 0 5px;
  font-weight: 600;
}

.to-paid {
  color: white;
  background-color: #2aaeb7;
  border-radius: 5px;
  border: none;
  height: 32px;
  margin-top: 50px;
  cursor: pointer;
}
