.publish-wrapper {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 80px);
  background: #ebedee;
}

.publish-content {
  padding: 10px 0;
  width: 80%;
}

.publish-title {
  margin: 20px 0;
  font-size: 24px;
}

.publish-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.publish-box-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #dadbdb;
  border-radius: 3px;
  background: white;
  height: 200px;
}

.publish-box-form::placeholder {
  color: #eeeeee;
}

.publish-form-picture {
  padding: 20px;
  height: 250px;
}

.publish-picture-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publish-picture {
  height: 170px;
}

.publish-footer-picture {
  display: flex;
  justify-content: space-between;
}

.publish-border-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px dotted #eeeeee;
  border-radius: 2px;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone-button {
  height: 45px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  color: #30aeb7;
  border: 2px solid #30aeb7;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}

.publish-outline {
  margin: 0 5px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.publish-form-details {
  height: 366px;
}

.publish-form-description {
  height: 222px;
}

.publish-form-price {
  height: 122px;
  align-items: flex-end;
}

.publish-checkbox-wrapper {
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
  width: 50%;
  column-gap: 5px;
}

.changes-checkbox {
  width: 24px;
  height: 24px;
  accent-color: #0ab1ba;
  cursor: pointer;
}

.publish-submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

.publish-submit {
  width: 6%;
  height: 40px;
  background: #0ab1ba;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
