* {
  box-sizing: border-box;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.signup-form h1 {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.signup-form input {
  border: none;
  border-bottom: 1px solid #fcced3;
  margin-bottom: 10px;
  padding: 8px 2px;
}

.signup-form input::placeholder {
  font-size: 17px;
  font-weight: lighter;
  color: #dcdcdd;
  background-color: white;
}

input[type="email"],
[type="password"],
[type="text"] {
  outline: none;
}

.submit-button {
  height: 45px;
  width: 275px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #2cb1ba;
  cursor: pointer;
  font-size: 16px;
}

.signup-form p {
  font-size: 13px;
  color: #2cb1ba;
  text-align: center;
  margin-top: 20px;
}

.signup-form .newsletter-checkbox span {
  padding-left: 10px;
  color: #666666;
}
