@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 5px;
  /* margin: 0 auto; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  /* max-width: 1200px; */
  width: 100%;
  overflow-x: hidden; /* évite le scroll horizontal s’il reste un dépassement */

  /* display: grid;
  place-items: center; */
}

.modal {
  background-color: white;
  width: 700px;
  height: 400px;
}

.App {
  position: relative;

  width: 100%;
}
.modal-root {
  color: red;
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 6px;
}
button:hover {
  color: #56bfc7;
  background: rgb(227, 227, 227);
  border: 1px solid gainsboro;
}

/*-------- Vends ton article ----------*/
