@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  text-decoration: none;
}
body {
  font-family: "Roboto";
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* border: 1px solid sienna; */
  grid-gap: 10px;
  margin: 0 80px;
}
.image-offer {
  height: 360px;
  width: 235px;
  object-fit: cover;
  border-radius: 5px;
}
.offer-container {
  /* border: 1px solid sienna; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #a3b3c3;
}
.offer-infos p {
  color: #a3b3c3;
}

article p {
  color: #000000;
}
.header {
  height: 115px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header button {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: solid #2db1ba 1px;
  color: #56bfc7;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-left: 20px;
}
/* .modal-root {
  color: red;
  Pour que la modal prenne tout l'écran :
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.modal {
  background-color: white;
  width: 700px;
  height: 400px;
}

.App {
  position: relative;
}
.modal-root {
  color: red;
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox {
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 600px;
  height: 40px;

  /* justify-content: space-around; */
  background-color: #f5f6f7;
}
