@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Roboto";
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 80px;
}
.image-offer {
  height: 360px;
  width: 235px;
  object-fit: cover;
  border-radius: 5px;
}
.offer-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #a3b3c3;
}
.offer-infos p {
  color: #a3b3c3;
}

article p {
  color: #000000;
}

.modal {
  background-color: white;
  width: 700px;
  height: 400px;
}

.App {
  position: relative;
}
.modal-root {
  color: red;
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------- Vends ton article ----------*/

.publish-container {
  height: 100vh;
  width: 100vw;
}

.publish-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.publish-container input {
  width: 100%;
  height: 50px;
}

.input-container-title-description {
  height: 300px;
  width: 300px;
  border: 2px solid black;
}

.input-container-title-description .input-container-b-s-c-c {
  /* margin-top: 10px; */
  /* height: 100px;
  width: 100px; */
}
